* text=auto !eol
/.travis.yml -text
Alps/MSVisualStudio/v10/libAlps.vcxproj -text
Alps/MSVisualStudio/v9/libAlps.vcproj -text
Alps/Makefile.am -text
Alps/Makefile.in -text
Alps/alps-uninstalled.pc.in -text
Alps/alps.pc.in -text
Alps/config.guess -text
Alps/config.sub -text
Alps/configure -text
Alps/configure.ac -text
Alps/depcomp -text
Alps/doxydoc/doxygen.conf.in -text
Alps/examples/Abc/AUTHORS -text
Alps/examples/Abc/AbcBranchActual.cpp -text
Alps/examples/Abc/AbcBranchActual.h -text
Alps/examples/Abc/AbcBranchBase.cpp -text
Alps/examples/Abc/AbcBranchBase.h -text
Alps/examples/Abc/AbcCutGenerator.cpp -text
Alps/examples/Abc/AbcCutGenerator.h -text
Alps/examples/Abc/AbcHeuristic.cpp -text
Alps/examples/Abc/AbcHeuristic.h -text
Alps/examples/Abc/AbcMain.cpp -text
Alps/examples/Abc/AbcMessage.cpp -text
Alps/examples/Abc/AbcMessage.h -text
Alps/examples/Abc/AbcModel.cpp -text
Alps/examples/Abc/AbcModel.h -text
Alps/examples/Abc/AbcNodeDesc.h -text
Alps/examples/Abc/AbcParams.cpp -text
Alps/examples/Abc/AbcParams.h -text
Alps/examples/Abc/AbcSolution.cpp -text
Alps/examples/Abc/AbcSolution.h -text
Alps/examples/Abc/AbcTreeNode.cpp -text
Alps/examples/Abc/AbcTreeNode.h -text
Alps/examples/Abc/INSTALL -text
Alps/examples/Abc/LICENSE -text
Alps/examples/Abc/MSVisualStudio/v10/Abc.sln -text
Alps/examples/Abc/MSVisualStudio/v10/Abc.suo -text
Alps/examples/Abc/MSVisualStudio/v10/Abc.vcxproj -text
Alps/examples/Abc/MSVisualStudio/v8/Abc.sln -text
Alps/examples/Abc/MSVisualStudio/v8/Abc.suo -text
Alps/examples/Abc/MSVisualStudio/v8/Abc.vcproj -text
Alps/examples/Abc/MSVisualStudio/v9/Abc.sln -text
Alps/examples/Abc/MSVisualStudio/v9/Abc.suo -text
Alps/examples/Abc/MSVisualStudio/v9/Abc.vcproj -text
Alps/examples/Abc/Makefile.in -text
Alps/examples/Abc/README -text
Alps/examples/Abc/abc.par.in -text
Alps/examples/Abc/abc.pbs -text
Alps/examples/Abc/data/egout.mps -text
Alps/examples/Abc/data/flugpl.mps -text
Alps/examples/Abc/data/gen.mps -text
Alps/examples/Abc/data/knap1.mps -text
Alps/examples/Abc/data/knap2.mps -text
Alps/examples/Abc/data/knap3.mps -text
Alps/examples/Knap/AUTHORS -text
Alps/examples/Knap/INSTALL -text
Alps/examples/Knap/KnapMain.cpp -text
Alps/examples/Knap/KnapModel.cpp -text
Alps/examples/Knap/KnapModel.h -text
Alps/examples/Knap/KnapParams.cpp -text
Alps/examples/Knap/KnapParams.h -text
Alps/examples/Knap/KnapSolution.cpp -text
Alps/examples/Knap/KnapSolution.h -text
Alps/examples/Knap/KnapTreeNode.cpp -text
Alps/examples/Knap/KnapTreeNode.h -text
Alps/examples/Knap/LICENSE -text
Alps/examples/Knap/MSVisualStudio/v10/Knap.sln -text
Alps/examples/Knap/MSVisualStudio/v10/Knap.suo -text
Alps/examples/Knap/MSVisualStudio/v10/Knap.vcxproj -text
Alps/examples/Knap/MSVisualStudio/v8/Knap.sln -text
Alps/examples/Knap/MSVisualStudio/v8/Knap.suo -text
Alps/examples/Knap/MSVisualStudio/v8/Knap.vcproj -text
Alps/examples/Knap/MSVisualStudio/v9/Knap.sln -text
Alps/examples/Knap/MSVisualStudio/v9/Knap.suo -text
Alps/examples/Knap/MSVisualStudio/v9/Knap.vcproj -text
Alps/examples/Knap/Makefile.in -text
Alps/examples/Knap/README -text
Alps/examples/Knap/TODO -text
Alps/examples/Knap/data/Hard/hardKnapStat -text
Alps/examples/Knap/data/Hard/input100_30.txt -text
Alps/examples/Knap/data/Hard/input100_31.txt -text
Alps/examples/Knap/data/Hard/input100_32.txt -text
Alps/examples/Knap/data/Hard/input100_33.txt -text
Alps/examples/Knap/data/Hard/input100_34.txt -text
Alps/examples/Knap/data/Hard/input100_35.txt -text
Alps/examples/Knap/data/Hard/input100_36.txt -text
Alps/examples/Knap/data/Hard/input100_37.txt -text
Alps/examples/Knap/data/Hard/input100_38.txt -text
Alps/examples/Knap/data/Hard/input100_39.txt -text
Alps/examples/Knap/data/Hard/input100_40.txt -text
Alps/examples/Knap/data/Hard/input100_41.txt -text
Alps/examples/Knap/data/Hard/input100_42.txt -text
Alps/examples/Knap/data/Hard/input100_43.txt -text
Alps/examples/Knap/data/Hard/input100_44.txt -text
Alps/examples/Knap/data/Hard/input150_50.txt -text
Alps/examples/Knap/data/Hard/input150_51.txt -text
Alps/examples/Knap/data/batchRun -text
Alps/examples/Knap/data/collectResults -text
Alps/examples/Knap/data/easy/input45_1.mps -text
Alps/examples/Knap/data/easy/input45_1.txt -text
Alps/examples/Knap/data/easy/input45_2.mps -text
Alps/examples/Knap/data/easy/input45_2.txt -text
Alps/examples/Knap/data/easy/input50_1.mps -text
Alps/examples/Knap/data/easy/input50_1.txt -text
Alps/examples/Knap/data/easy/input50_2.mps -text
Alps/examples/Knap/data/easy/input50_2.txt -text
Alps/examples/Knap/data/easy/input55_1.mps -text
Alps/examples/Knap/data/easy/input55_1.txt -text
Alps/examples/Knap/data/easy/input55_2.mps -text
Alps/examples/Knap/data/easy/input55_2.txt -text
Alps/examples/Knap/data/easy/input55_3.mps -text
Alps/examples/Knap/data/easy/input55_3.txt -text
Alps/examples/Knap/data/easy/input55_4.mps -text
Alps/examples/Knap/data/easy/input55_4.txt -text
Alps/examples/Knap/data/easy/input55_5.mps -text
Alps/examples/Knap/data/easy/input55_5.txt -text
Alps/examples/Knap/data/easy/input60_1.mps -text
Alps/examples/Knap/data/easy/input60_1.txt -text
Alps/examples/Knap/data/easy/input60_2.mps -text
Alps/examples/Knap/data/easy/input60_2.txt -text
Alps/examples/Knap/data/easy/input60_3.mps -text
Alps/examples/Knap/data/easy/input60_3.txt -text
Alps/examples/Knap/data/easy/input60_4.mps -text
Alps/examples/Knap/data/easy/input60_4.txt -text
Alps/examples/Knap/data/easy/input60_5.mps -text
Alps/examples/Knap/data/easy/input60_5.txt -text
Alps/examples/Knap/data/hard2/input100_30.txt -text
Alps/examples/Knap/data/hard2/input100_31.txt -text
Alps/examples/Knap/data/hard2/input100_32.txt -text
Alps/examples/Knap/data/hard2/input100_34.txt -text
Alps/examples/Knap/data/hard2/input100_35.txt -text
Alps/examples/Knap/data/hard2/input100_36.txt -text
Alps/examples/Knap/data/hard2/input100_37.txt -text
Alps/examples/Knap/data/hard2/input100_38.txt -text
Alps/examples/Knap/data/hard2/input100_39.txt -text
Alps/examples/Knap/data/hard2/input150_1.mps -text
Alps/examples/Knap/data/hard2/input150_1.txt -text
Alps/examples/Knap/data/hard2/input150_10.txt -text
Alps/examples/Knap/data/hard2/input150_11.txt -text
Alps/examples/Knap/data/hard2/input150_12.txt -text
Alps/examples/Knap/data/hard2/input150_13.txt -text
Alps/examples/Knap/data/hard2/input150_14.txt -text
Alps/examples/Knap/data/hard2/input150_17.txt -text
Alps/examples/Knap/data/hard2/input150_18.txt -text
Alps/examples/Knap/data/hard2/input150_19.txt -text
Alps/examples/Knap/data/hard2/input150_2.mps -text
Alps/examples/Knap/data/hard2/input150_2.txt -text
Alps/examples/Knap/data/hard2/input150_20.txt -text
Alps/examples/Knap/data/hard2/input150_4.txt -text
Alps/examples/Knap/data/hard2/input150_5.txt -text
Alps/examples/Knap/data/hard2/input150_7.txt -text
Alps/examples/Knap/data/hard2/input150_8.txt -text
Alps/examples/Knap/data/hard2/input150_9.mps -text
Alps/examples/Knap/data/hard2/input150_9.txt -text
Alps/examples/Knap/data/hard2/input175_0.txt -text
Alps/examples/Knap/data/hard2/stats -text
Alps/examples/Knap/data/hardMps.zip -text
Alps/examples/Knap/data/input1.txt -text
Alps/examples/Knap/data/input100_1.txt -text
Alps/examples/Knap/data/input100_2.txt -text
Alps/examples/Knap/data/input100_3.txt -text
Alps/examples/Knap/data/input100_4.txt -text
Alps/examples/Knap/data/input100_5.txt -text
Alps/examples/Knap/data/input2.txt -text
Alps/examples/Knap/data/input3.txt -text
Alps/examples/Knap/data/input4.txt -text
Alps/examples/Knap/data/input5.txt -text
Alps/examples/Knap/data/input75_1.txt -text
Alps/examples/Knap/data/input75_2.txt -text
Alps/examples/Knap/data/input75_3.txt -text
Alps/examples/Knap/data/input75_4.txt -text
Alps/examples/Knap/data/input75_5.txt -text
Alps/examples/Knap/data/knap.mod -text
Alps/examples/Knap/data/knapGen.cpp -text
Alps/examples/Knap/data/toAmplDat.cpp -text
Alps/examples/Knap/data/unsolve/input150_1.txt -text
Alps/examples/Knap/data/unsolve/input150_2.txt -text
Alps/examples/Knap/data/unsolve/input150_3.txt -text
Alps/examples/Knap/data/unsolve/input500_1.txt -text
Alps/examples/Knap/data/unsolve/input500_2.txt -text
Alps/examples/Knap/data/unsolve/stats -text
Alps/examples/Knap/knap.par.in -text
Alps/examples/Knap/knap.pbs -text
Alps/install-sh -text
Alps/ltmain.sh -text
Alps/missing -text
Alps/src/AlpsConfig.h -text
Alps/src/Makefile.am -text
Alps/src/Makefile.in -text
Alps/src/config.h.in -text
Alps/src/config_alps.h.in -text
Alps/src/config_alps_default.h -text
Alps/src/config_default.h -text
Alps/test/Makefile.am -text
/Dependencies -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/appveyor.yml -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
